.head{
  margin-bottom: 700px;
  h1{
    width: 60%;
    padding: 90px  0 60px;
  }
  .people{
    position: absolute;
    top:415px;
    right:170px;
  }
  .auto{
    position: absolute;
    top:765px;
    left:-445px;
  }
}